{% block content %}
    <br class="clear" />
    {% if form.errors %}
    <p class="errorlist">"Sorry there are corrections needed:"{{ form.non_field_errors }}</p>
    {% endif %}
    <form enctype="multipart/form-data" method="post" id="load_shape_form" action="{{action}}">
        <input type="hidden" value="10485760" name="MAX_FILE_SIZE"> {# 10 MB limit #}
   {{ form.as_p }}
   <p>Shapefile must be compressed into a single .zip file. Must contain a single polygon feature. Projection must be defined in a .prj file; otherwise WGS84 is assumed.</p>
   <input type="submit" value="Upload file" class="upload_button"/>
   </form>
{% endblock %}
