<!--if we would rather extend from common/base.html than be sure and add the following two lines:
    <file path="mpa/js/manipulator.js" />
    <file path="common/js/jquery/jquery-callback-1.2.js" />
    to media/js_includes.xml, so that load compressed in base.html will find those files (after a dev-server reload)
    -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<!-- This page serves as a standalone example of the manipulators for testing purposes -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MarineMap Decision Support Tool</title>    
    <script type="text/javascript" src="http://www.google.com/jsapi?key={{api_key}}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://geojs.googlecode.com/files/geo-0.1.2.pack.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://earth-api-utility-library.googlecode.com/svn/trunk/extensions/dist/extensions.pack.js" type="text/javascript" charset="utf-8"></script>
    <!--rather than load everything from js_includes.xml, we just load the following-->
    <script src="/media/common/js/lingcod.js"></script>
    <script src="/media/common/js/tools/draw_tool.js"></script>
    <script src="/media/mpa/js/manipulator.js"></script>
    <script src="/media/common/js/jquery/jquery-callback-1.2.js"></script>

    <script type="text/javascript">
    google.load("earth", "1");
    
    var ge = null;
    var measureTool = null;

    var gex = null;
    var lastMpa = null;
    var ge_lookAt = [33.5, -118];
    var ge_range = 400000;
    var ge_tile = 20;
    var ge_studyregion_display = 'http://' + document.location.host + '/studyregion/kml/';
    var manip_url = '/manipulators/list/mlpa/mlpampa/';
        
    $(document).ready(function() {
        $.ajaxSetup({ cache: false });
        $.getJSON( manip_url, init );
    });    
    
    function init(manip_list) {
        $("#create_button").removeAttr('disabled');
        google.earth.createInstance("map3d", initCallback, failureCallback);
        drawTool = new lingcod.drawTool();
        mlpa_manipulator = new lingcod.Manipulator(renderManipulatorResults, manip_list, drawTool);
        //$("#create_button").click($.delegate(mlpa_manipulator.drawAndProcess, mlpa_manipulator));
        $("#create_button").click(beginManipulators);
    }
    
    //can't figure out how to call this function from init rather than call delegate directly on click as above
    function beginManipulators() {
        mlpa_manipulator.drawAndProcess();
    }
    
    //called from init()
    //set up the google earth areal view, add the study region, create a lingcod.drawTool instance 
    function initCallback(pluginInstance) {
    
        ge = pluginInstance;
        ge.getWindow().setVisibility(true); // required
        
        gex = new GEarthExtensions(pluginInstance);
        gex.util.lookAt(ge_lookAt, { range: ge_range, tilt: ge_tile });    
        gex.util.displayKml( ge_studyregion_display );
        
        {% if extra_kml %}
        gex.util.displayKmlString( '{{ extra_kml|safe }}' );
        {% endif %}
 
        //at this point the application waits for the user to click the 'Create an Mpa' button
    }

    function failureCallback(errorCode) {
        alert("Failure loading the Google Earth Plugin: " + errorCode);
    }
        
    //renderManipulatorResults is called from lingcod.manipulators.processManipulators() in manipulator.js
    //manip_data is given the json wrapped return value from the manipulators
    //the function extracts and displays the 'html' template data, 
    //and 'clipped_shape' is displayed on the map
    function renderManipulatorResults(manip_data) {
        $("#create_button").attr('disabled', 'disabled');
        ret_obj = eval( '(' + manip_data + ')' );
        document.getElementById("template_space").innerHTML=ret_obj.html;
        lastMpa = gex.util.displayKmlString(ret_obj.clipped_shape);
        drawTool.clear();
    }
    
    //should the rejectMpa and tryAgain be moved to manipulator.js?
    
    //called from the Reject button
    function rejectMpa() {
        gex.dom.removeObject(lastMpa);
        document.getElementById("template_space").innerHTML=""
        $("#create_button").removeAttr('disabled');
    }
    
    //called from the Try Again button
    function tryAgain() {
        drawTool.clear();
        document.getElementById("template_space").innerHTML="";
        $("#create_button").removeAttr('disabled');
    }
        
    </script>
</head>
<body> 
    <p><strong>MLPA Manipulator Test</strong></p>
    <p><div id="create_space"><button id="create_button">Create an Mpa</button></div></p>
    <p><div id="template_space" style="overflow: auto; width: 500px; height: 100px; border: 1px solid silver;"></div></p>
    <div id="map3d" style="overflow: auto; width: 500px; height: 500px; border: 1px solid silver;"></div>
</body>
</html>
