WSGIScriptAlias /simple /path/to/src/madrona/example_projects/simple/simple_wsgi.py
WSGIDaemonProcess simple_madrona user=username group=usergroup processes=10 threads=1
WSGIProcessGroup simple_madrona

Alias /simple/media/ /path/to/media/
<Directory /path/to/media>
Order allow,deny
Options Indexes
Allow from all
IndexOptions FancyIndexing
</Directory>

