*.pyc
marinemap.egg-info*
marinemap.r*.css
marinemap.r*.js
examples/test_project/mediaroot/*
env1/*
docs/.build/*
.coverage
TEST*.xml
*settings_local.py
build/*
dist/*
*.swp
.DS_Store
media/layers/uploaded-kml/*.kml
media/layers/uploaded-kml/*.kmz
media/spacing/pickled_graphs/*
examples/test_project/test.conf
examples/test_project/test_wsgi.py
*.orig
*.egg-info
