amqp==2.4.2
anyjson==0.3.3
backcall==0.1.0
billiard==3.6.0.0
celery==4.3.0rc2
certifi==2018.11.29
chardet==3.0.4
confusable-homoglyphs==3.2.0
decorator==4.3.2
defusedxml==0.5.0
Django==2.1.7
django-allauth==0.39.0
django-appconf==1.0.2
django-compressor==2.2
django-extensions==2.1.6
django-flatblocks==0.9.4
django-redis==4.10.0
django-redis-sessions==0.6.1
django-registration==3.0
geographiclib==1.49
geopy==1.18.1
idna==2.8
jedi==0.13.3
kombu==4.4.0
numpy==1.16.2
oauthlib==3.0.1
pandas==0.24.1
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.9
psycopg2-binary==2.7.7
ptyprocess==0.6.0
pygdal==2.3.2.4
Pygments==2.3.1
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2018.9
rcssmin==1.0.6
redis==3.2.0
requests==2.21.0
requests-oauthlib==1.2.0
rjsmin==1.0.12
six==1.12.0
traitlets==4.3.2
urllib3==1.24.1
vine==1.2.0
wcwidth==0.1.7
