<!-- User :: {{ user.name }} -->
<style id="sharing_stylesheet" type="text/css" media="screen">
    .group {padding:0;margin:0;text-indent:none;font-size:12px;}
    .groups {padding:0;margin:0;text-indent:none;}
    .member_list { display:none; }
    a.show_members {text-decoration:none;padding:5px;font-size:10px;margin-left:5px;}
    a.show_members img {border:none;margin-right:5px;margin-bottom:-3px;}
</style>
<script type="text/javascript" charset="utf-8">
    lingcod.onShow(function(){
        $("a.show_members").click(function() { 
            var members = $(this).parent().find('ul.member_list');
            if(members.is(':visible')){
                $(this).find('span').text('show members');
            }else{
                $(this).find('span').text('hide members');
            }
            members.toggle(300);
            return false;
        });
        
        lingcod.setupForm($('#share'));
    });
</script>
<div>
    {% load order_by %}
    {% if groups %}
        <p> Share <strong>{{ obj }}</strong> with the following groups</p>
        <form id="share" action="" method="POST">
            {% for group in groups %}
    				<ul class="groups">
    					<li class="group">
    						<input type="checkbox" class="shareform" name="sharing_groups" {% if group in already_shared_groups %}checked="checked"{% endif %} value="{{group.id}}" id="group_{{group.id}}"/>
    						<span>{{group.name}}<a class="show_members" href="#"><img src="{{MEDIA_URL}}common/images/silk/group_add.png" width="16" height="16" /><span>show members</span></a>
    						<ul class="member_list">
                  {% for user in group.user_set.all|order_by:"username" %}
                  {% if user.first_name and user.last_name %} 
                  <li>{{user.first_name}} {{user.last_name}}</li>
                  {% else %}
                  <li>{{user.username}}</li>
                  {% endif %}
                  {% endfor %}							
    						</ul>
    					</li>
    				</ul>
            {% endfor %}        
        </form>
    {% else %}
        <label> Can't share <em>{{ obj_type_verbose }}</em> named <strong>{{ obj }}</strong>. You don't belong to any groups with appropriate permissions to share that object.  </div>
    {% endif %}
</div>