{% extends "common/base.html" %}

{% block head %}
<script type="text/javascript">
    google.load("earth", "1");

    var ge = null;
    var measureTool = null;

    function init() {
        $.ajaxSetup({ cache: false });
        google.earth.createInstance("map3d", initCallback, failureCallback);
    }

    function initCallback(pluginInstance) {
    
        ge = pluginInstance;
        ge.getWindow().setVisibility(true); // required
        
        gex = new GEarthExtensions(pluginInstance);
        
        <!--- location and zoom (zoom changed from 800000 to 100000) (tilt changed from 40 to 20) (lat changed from 33 to 33.3)--->
        gex.util.lookAt([33.3, -118], { range: 100000, tilt: 20 }); 
            
        gex.util.displayKml( 'http://' + document.location.host + '/studyregion/kml/' );
        
        {% if extra_kml %}
        gex.util.displayKmlString( '{{ extra_kml|safe }}' );
        {% endif %}

        drawTool = new lingcod.drawTool();
        drawTool.drawShape( gex, drawMpaComplete );  
    }

    function failureCallback(errorCode) {
        alert("Failure loading the Google Earth Plugin: " + errorCode);
    }
    
    function drawMpaComplete(){
        $.get('{% url mpa-manipulator-list %}',
            function(data){
                manipulators = eval(data);
                manip_string = '';
                for ( var i = 0; i < manipulators.length; i++ )
                {
                    if (i > 0)
                        manip_string = manip_string + ',';
                    manip_string = manip_string + manipulators[i];
                }
                
                target_wkt = placemarkToWkt(drawTool.placemark);
                <!--- this is where the template is added to the sandbox --->
                $.post('/manipulators/'+manip_string+'/', 
                    { target_shape: target_wkt },
                    function(manip_data){
                        ret_obj = eval( '(' + manip_data + ')' );
                        document.getElementById("area").innerHTML=ret_obj.html;
                        gex.util.displayKmlString(ret_obj.clipped_shape);
                        drawTool.clear();
                    });
            });
    }
    
    function placemarkToWkt(placemark) {
        var linearRing = placemark.getGeometry().getOuterBoundary();
        var wkt = 'POLYGON((';
        for ( var i = 0; i < linearRing.getCoordinates().getLength(); i++ )
        {
            if (i > 0)
                wkt = wkt + ',';
            wkt = wkt + linearRing.getCoordinates().get(i).getLongitude() + ' ' + linearRing.getCoordinates().get(i).getLatitude();
        }
        wkt = wkt + '))'
        
        return wkt;
    }
    
    $(document).ready(function(){
        init();
    });
        
</script>
{% endblock %}
{% block body %} <!--- modified div to include scroll bar with 'overflow: auto'--->
<div id="map3d" style="overflow: auto; width: 500px; height: 500px; border: 1px solid silver;">
<p><strong>Distance: </strong><span id="distance">N/A</span></p>
<p><strong>Area: </strong><span id="area">N/A</span></p></div>
{% endblock %}
