<div>
    <h1> North Coast MarineMap </h1>
    <h3>What is MarineMap?</h3>
    <p>
        MarineMap is an online mapping tool developed to assist in the design of marine protected areas (MPAs) in the Marine Life Protection Act Initiative.
    </p>
    <h3>What is the Marine Life Protection Act Initiative?</h3>
    <p>

        The 1999 Marine Life Protection Act (MLPA) directs the state of California to design and manage a network of MPAs in order to, among other things, protect marine life and habitats, marine ecosystems, and marine natural heritage, as well as improve recreational, educational and study opportunities provided by marine ecosystems.    
    </p>
    <p>
        To help implement the MLPA, the California Natural Resources Agency, the California Department of Fish and game and the Resources Legacy Fund Foundation have formed a public-private partnership known as the Marine Life Protection Act Initiative (MLPA Initiative). Currently, the MLPA Initiative is working in the north coast study region (California/Oregon border to Alder Creek near Point Arena in Mendocino County). Learn more about the MLPA Initiative and the MPA planning process, click here: <a href="http://www.dfg.ca.gov/mlpa/" target = "_blank">Marine Life Protection Act Initiative (MLPAI)</a>
    </p>
    <h3>Why MarineMap?</h3>
    <p>
        MarineMap assists with the design of MPAs by allowing users to view oceanographic, biological, geological, chemical and human dimensions of the ocean and coastal areas. MarineMap provides easy sharing of MPA ideas and reports on how individual MPAs and MPA arrays and proposals meet various guidelines to help achieve the goals of the MLPA.
    </p>
    <h3>Who Can Use MarineMap?</h3>
    <p>
        MarineMap is available for anyone to use. The public may view data layers and draft MPA arrays and proposals.    
    </p>
    <h3>For more Information on the MLPA North Coast Study Region:</h3>
    <p>
        <a href="http://www.dfg.ca.gov/mlpa/northcoast.asp" target = "_blank">DFG North Coast Home Page</a><br>
        <a href="http://www.dfg.ca.gov/mlpa/documentsmain.asp" target = "_blank">Regional Profile of the MLPA North Coast Study Region </a>
    </p><h3>Other Available Data</h3>
    <p>
        <a href="http://mpa.gov/science_analysis/atlas.html" target = "_blank">California Ocean Uses Atlas Project</a><br>
        <a href="http://covc.centraldesktop.com/santamonicabayhumanuses/doc/1657625/" target = "_blank">California Coast Online Survey Results</a><br>

    </p>
</div>
