<div>
    <h1> North Coast MarineMap </h1>
    <h3>What is MarineMap?</h3>
    <p>
        MarineMap is an online mapping tool developed to assist in the design of marine protected areas (MPAs) in the Marine Life Protection Act Initiative process.
    </p>
    <br>
    <h3>What is the Marine Life Protection Act Initiative?</h3>
    <p>

        The 1999 Marine Life Protection Act (MLPA) directs the state of California to design and manage a network of MPAs in order to, among other things, protect marine life and habitats, marine ecosystems, and marine natural heritage, as well as improve recreational, educational and study opportunities provided by marine ecosystems.
    </p>
    <p>
        To help implement the MLPA, the California Natural Resources Agency, the California Department of Fish and game and the Resources Legacy Fund Foundation have formed a public-private partnership known as the Marine Life Protection Act Initiative (MLPA Initiative). Currently, the MLPA Initiative is working in the south coast study region (Point Conception to the California/Mexico border). Learn more about the MLPA Initiative and the MLPA process here: <a href="http://www.dfg.ca.gov/mlpa/">Marine Life Protection Act Initiative (MLPAI)</a>
    </p>
    <br>
    <h3>Why MarineMap?</h3>
    <p>

        MarineMap assists South Coast Regional Stakeholder Group (SCRSG) members in the design of MPAs by allowing them to view oceanographic, biological, geological, chemical and human dimensions of the ocean and coastal areas. MarineMap provides easy sharing of MPA ideas, and reports on how well individual MPAs and arrays of MPAs meet various guidelines set by the Master Plan Science Advisory Team (SAT) to help meet the goals of the MLPA.
    </p>
    <br>
    <h3>Who Can Use MarineMap?</h3>
    <p>
        MarineMap is available for public use. The public may view data layers and draft MPA proposals developed by the SCRSG. 
    </p>
    <br>
    <h3>What's new this week?</h3>

    <p>
        The MarineMap team is continually improving this tool. Please expect MarineMap to be down for 15-45 minutes at 10am on Friday mornings for weekly upgrades.
    </p>
    <p>
        MarineMap now provides reports on spacing and replication for arrays, just right click on the array you want analyzed and choose ‘Replication Report’.
    </p>
    <br>
    <h3>For more Information on the MLPA South Coast Study Region:</h3>
    <p>

        <a href="http://www.dfg.ca.gov/mlpa/southcoast.asp">DFG South Coast Home Page</a><br>
        <a href="http://www.dfg.ca.gov/mlpa/documents_sc.asp">Regional Profile of the MLPA South Coast Study Region </a><br>
    <br>
    </p><h3>Other Available Data</h3>
    <p>
        <a href="http://mpa.gov/science_analysis/atlas.html">California Ocean Uses Atlas Project</a><br>
        <a href="http://covc.centraldesktop.com/santamonicabayhumanuses/doc/1657625/">California Coast Online Survey Results</a><br>

    </p>
    <br>
</div>
