{% extends "admin/change_form.html" %}

{% block content %}

	{% if missing_errors or mismatch_errors %}
		You've got some errors:
		<ul>
		{% for error in missing_errors %}
			<li>There are no features associated with the '{{error.fieldmap}}' fieldmap of the <a href="/marinemap/admin/intersection/organizationscheme/{{error.scheme_pk}}">{{error.scheme}}</a> organization scheme.</li>
		{% endfor %}
		{% for error in mismatch_errors %}
			<li>There is an output unit and/or feature type mismatch in the '{{error.fieldmap}}' fieldmap of the <a href="/marinemap/admin/intersection/organizationscheme/{{error.scheme_pk}}">{{error.scheme}}</a> organization scheme.</li>
		{% endfor %}
		</ul>
		You should <a href='/admin/intersection/organizationscheme/'>go fix it</a>.
	{% else %}
		You organizational scheme is valid.  Congratulations. <a href='/admin'>Go back to the admin tool.</a>
	{% endif %}

{% endblock %}
