<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<!-- This page serves as a standalone example of the panelManager for testing purposes -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MarineMap Client Test Suite</title>    <!-- Date: 2009-06-18 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="common/js/load_js.js"></script>
    <script type="text/javascript" charset="utf-8">
        
        function addStyleSheet(path){
            $('head').prepend('<link rel="stylesheet" media="all" href="'+path+'"></link>');
        }
        
        // Dynamically load stylesheets from css_includes.xml
        $.get('css_includes.xml', function(data, textStatus){
            var xml = $(data);
            $(xml).find('file').each(function(){
                var path = $(this).attr('path') + '?' + (new Date).valueOf();
                addStyleSheet(path);
            });
        });
        
        $(document).ready(function(){
            // Load appropriate javascript in case needed
            mm_load_js('', function(){
                $('#panelManager').panelManager({top: '3em', left: '0px'});
            }, false);
        });
    </script>
    <style type="text/css" media="screen">
        html, body {
            overflow:auto;
            width:auto;
            height:auto;
            background-color:#DDDDDE;
        }
        
        #panelManager {
            position:absolute;
            top:1em;
            left:1em;
        }
    </style>
</head>
<body>
    <div>
        <div id="panelManager" class="panel-manager">
            <div style="display:none;" class="sidebar-panel">
                <div class="sidebar-header">
                    <h1>Home</h1>
                </div>
                <ul class="tabs">
                    <li><a href="#tab1">Tab 1</a></li>
                    <li><a href="#tab2">Tab 2</a></li>
                    <li><a href="#tab3">Tab 3</a></li>
                    <li><a href="#tab4">Tab 4</a></li>
                </ul>
                <div class="sidebar-body">
                    <div class="sidebar-wrapper">
                        <div id="tab1" class="sidebar-body">
                            <div class="sidebar-wrapper">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <div class="sidebar-footer">
                                    <h3>Panel 1 Footer</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="sidebar-body">
                            <div class="sidebar-wrapper">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <div class="sidebar-footer">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="sidebar-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div id="tab4" class="sidebar-body">
                            <div class="sidebar-wrapper">
                                <ul>
                                    <li><a id="panelTests" class="forward" href="../media/common/fixtures/panels/1.html">Panel Tests</a></li>
                                </ul>
                                <div class="sidebar-footer">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="meta-navigation">
        <ul>
            <li><a href="profile">cburt</a> | </li>
            <li><a href="http://marinemap.org">about marinemap</a> | </li>
            <li><a href="help">help</a> | </li>
            <li><a href="sign out">sign out</a></li>
        </ul>
        <br />
    </div>
    <div id="panelManager">
        {% tabpanel "Home" %}
            {% tab "Data Layers" %}
                <div id="datalayerstree"></div>
                {% footer %}
                    <h3>Earth Options</h3>
                    <ul>
                        <form id="ge_options">
                            <li><input type="checkbox" name="setStatusBarVisibility" checked />Status Bar</li>
                            <li><input type="checkbox" name="nav" />Navigation Control</li>
                            <li><input type="checkbox" name="setGridVisibility" />Grid</li>
                            <li><input type="checkbox" name="setOverviewMapVisibility" />Overview Map</li>
                            <li><input type="checkbox" name="setScaleLegendVisibility" />Scale Legend</li>
                            <li><input type="checkbox" name="setAtmosphereVisibility" checked />Atmosphere</li>
                            <li><input type="checkbox" name="sun" />Sun</li>      
                        </form>
                    </ul>
                    <h3>Google Layers</h3>
                    <ul>
                        <form id="ge_layers">
                            <li><input type="checkbox" name="LAYER_BORDERS">Borders</li>
                            <li><input type="checkbox" name="LAYER_ROADS">Roads</li>
                            <li><input type="checkbox" name="LAYER_TERRAIN" checked>Terrain</li>
                            <li><input type="checkbox" name="LAYER_BUILDINGS" checked>3d Buildings</li>
                            <li><input type="checkbox" name="LAYER_BUILDINGS_LOW_RESOLUTION" checked>Low Resolution Buildings</li>                                
                        </form>
                    </ul>
                    <h3>Find a place</h3>
                    <form id="flyToLocation" method="GET">
                        <ul>
                            <li>
                                <input type="text" name="flyto_location" value="">
                                <input type="submit" value="Fly here">                                    
                            </li>
                        </ul>
                    </form>
                    {% block data_layers_footer_append %}{% endblock %}
                {% endfooter %}
            {% endtab %}
            {% tab "My Shapes" %}
                {% block my_shapes_prepend %}{% endblock %}
                <p>
                    <img style="margin:0px;padding:0px;" src="{{MEDIA_URL}}common/fixtures/widget_mockups/arrays.png" width="355" height="444" />
                    <a href="javascript:alert('create mpa');">create mpa</a> |
                    <a href="javascript:alert('create array');">create array</a>
                </p>                    
                {% block my_shapes_append %}{% endblock %}
            {% endtab %}
            {% tab "Collaborate" %}
                    <p>
                        <img style="margin:0px;padding:0px;" src="{{MEDIA_URL}}common/fixtures/widget_mockups/wave.png" width="372" height="483" />
                    </p>   
            {% endtab %}
            {% tab "Tools" %}
                    {% block tools_prepend %}{% endblock %}
                    <div style="padding:1em;">
                        <h4>Measurement Tool</h4>
                        <button id="measure_distance">measure distance</button>
                        <button id="measure_area">measure area</button>
                        <button id="measure_clear">clear</button>
                        <select id="measure_units">
                            <option value="metric">metric</option>
                            <option value="english">english</option>
                            <option value="nautical">nautical</option>                            
                        </select>
                        <p><strong>Distance: </strong><span id="distance">N/A</span></p>
                        <p><strong>Area: </strong><span id="area">N/A</span></p>
                        <hr>
                    </div>
                    {% block tools_append %}{% endblock %}   
            {% endtab %}
        {% endtabpanel %}        
    </div>
    <div id="map_container">
        <div id="map"></div>
    </div>
    
    
    
</body>
</html>