<h3>Your Geometry Overlaped an Estuary</h3>
<img src="{{MEDIA_URL}}projects/nc_mlpa/manipulators/estuary.gif" width="368" height="88" />
<p>An MPA geometry can either be entirely estuary, or none. In cases like this where a geometry overlaps but is not entirely estuarine, the system creates two polygons. Whichever is larger is the one it assumes you would like to create.</p>
<p>In this case, the system chose the <b>{{ INTERNAL_MESSAGE }}</b></p>
<p>If this is not the outcome you wanted, try to refine your selection to better fit the habitat you are trying to capture. Turning on the Estuary layer from the Data Layers menu can help you in this process.</p>