<div class="panel">
    <script type="text/javascript" charset="utf-8">
    
        lingcod.beforeDestroy(function(){
            window.callbackFired++;
        });

        lingcod.beforeDestroy('#Attributes', function(){
            window.callbackFired++;
        });
        
    </script>
    <h1>instance.name</h1>
    <div class="tabs">
        <ul>
            <li><a href="#Attributes"><span>Information</span></a></li>
            <li><a href="../media/common/js/test/layout/jsExample10.1.html"><span>Report</span></a></li>
        </ul>
        <div id="Attributes">
            <p>....</p>
        </div>
    </div>
</div>