<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
{% load analytics %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}MarineMap Decision Support Tool{% endblock %}</title>
    {# <script type='text/javascript'  #}
    {#             src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script> #}
    
	<script type="text/javascript" src="http://www.google.com/jsapi?key={{api_key}}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{MEDIA_URL}}closure/closure-compiled.js" type="text/javascript" charset="utf-8"></script>
    {% load compressed %}
    {% compressed_css 'application' %}
    {% compressed_js 'application' %}
    {% block head %}{% endblock %}
    {% block headtwo %}{% endblock headtwo %}
</head>
<body>
    {% block body %}{% endblock %}
    {% analytics %}
</body>
</html>
