{% extends "common/base.html" %}

{% block head %}
    <script src="http://wave-api.appspot.com/public/embed.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.public_data_layers = '{% url public-data-layers %}';
        window.studyregion = '{% url studyregion-kml %}';
        google.load("earth", "1");
        google.load('maps', '3', {"other_params":"sensor=false"});

        var ge = null;
        var gex = null;
        
        var options = {};
        {% block myshapes %}
        {% if user.is_authenticated %}
            options.myshapes = ["{% url kmlapp-userlinks-kmz input_username=user.username session_key=session_key %}"];
            {% if perms.layers.view_ecotrustlayerlist %}
                options.ecotrust = "{% url ecotrust-data-layers input_username=user.username session_key=session_key %}";
            {% endif %}
        {% endif %}
        options.media_url = 'http://' + window.location.host + "{{MEDIA_URL}}";
        {% endblock myshapes %}
        
        {% block addToOptions %}
        {% endblock addToOptions %}
        
        $(document).ready(function(){
            lingcod.init(options);
        });
    </script>
    <style type="text/css" media="screen">
        body {
            font-size:1em;
            font-family:verdana;
        }
        
    </style>    
{% endblock %}
{% block body %}
    <div id="meta-navigation">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="profile">{{user.username}}</a> | </li>
            {% endif %}
            <li><a href="http://marinemap.org">about marinemap</a> | </li>
            {% block meta_navigation_list_insert %}{% endblock %}
            <li><a href="help">help</a> | </li>
            {% if user.is_authenticated %}
            <li><a href="{% url logout %}">sign out</a></li>
            {% else %}
            <li><a href="{% url login %}">sign in</a></li>
            {% endif %}
            {% block meta_navigation_list_append %}{% endblock %}
        </ul>
        <br />
    </div>
    <ul class="menu_items" id="header_buttons">
        <li class="divider"><img src="{{MEDIA_URL}}/common/images/header_divider.gif" height="32" width="2" /></li>
        <li id="layers_menu" class="item">
            <span>
                <a title="Data Layers" href="#DataLayers"><img src="{{MEDIA_URL}}/common/images/transparent.gif" width="44" height="48" /></a>
            </span>
        </li>
        <li class="divider"><img src="{{MEDIA_URL}}/common/images/header_divider.gif" height="32" width="2" /></li>
        <li id="tools_menu" class="item autosize">
            <span>
                <a title="Tools" href="#tools"><img src="{{MEDIA_URL}}/common/images/transparent.gif" width="44" height="48" /></a>
            </span>
        </li>
        <li class="divider"><img src="{{MEDIA_URL}}/common/images/header_divider.gif" height="32" width="2" /></li>
    </ul>
    <div id="sidebar">
        <div id="sidebar-mask"></div>
        <ul>
            {# <li><a href="#DataLayers"><span>Data Layers</span></a></li> #}
            {% if user.is_authenticated %}
            <li><a href="#MyShapes"><span>My Shapes</span></a></li>                
            {% endif %}
            <li><a href="#SharedShapes"><span>Shared Shapes</span></a></li>
        </ul>
        {% if user %}
        <div id="MyShapes">
            <div style="font-size:1em;" id="myshapestree"></div>
        </div>            
        {% endif %}
        <div id="SharedShapes">
            Shared shapes go here
        </div>
    </div>
    <div id="map_container">
        <div id="map"></div>
    </div>
    <div id="tools">
        <h1>Tools</h1>
        <form id="flyToLocation" method="GET">
            <input type="text" name="flyto_location" value="">
            <a id="flytogo" href="#" class="button" onclick="this.blur(); return false;"><span>Fly Here</span></a>
            <a id="flytoclear" href="#" class="button red disabled" onclick="this.blur(); return false;"><span>Clear</span></a>
            <input type="submit" style="display:none;" />
            <br style="clear:both;" />
        </form>
        <hr />
        <div id="measurement_tools" class="tool">
            <a id="measure_distance" href="#" class="button" onclick="this.blur(); return false;"><span><img src="{{MEDIA_URL}}common/images/ruler.png">Measure Distance</span></a>
            <a id="measure_area" href="#" class="button" onclick="this.blur(); return false;"><span><img src="{{MEDIA_URL}}common/images/ruler_square.png">Measure Area</span></a>
            {# <button id="measure_distance">measure distance</button> #}
            {# <button id="measure_area">measure area</button> #}
            {# <button id="measure_clear">clear</button> #}
            <a id="measure_clear" href="#" class="button red disabled" onclick="this.blur(); return false;"><span>Clear</span></a>
            <p style="clear:both;">
                Choose to measure distance or area and then draw a shape on the map. Double-click when finished drawing.
            </p>
            <div id="measureAmountHolder">
                <span id="measureAmount"></span>
                <select id="measure_units">
                    <option value="metric">metric</option>
                    <option value="english">english</option>
                    <option value="nautical">nautical</option>                            
                </select>
            </div>
            {# <dl> #}
            {#     <dt style="display:none;" class="distance">Distance: </dt> #}
            {#     <dd style="display:none;" class="distance" id="distance">124</dd> #}
            {#     <dt style="display:none;" class="area">Area: </dt> #}
            {#     <dd style="display:none;" class="area" id="area"></dd>             #}
            {# </dl> #}
            {# Distance: <span id="distance">N/A</span></p> #}
            {# Area: <span id="area">N/A</span></p> #}
        </div>
    </div>
    <div id="DataLayers">
        <h1>Data Layers</h1>
        <div id="datalayerstree"></div>
    </div>
    <div style="display:none;" id="panel-holder"></div>
    {# {% load layout_tags %} #}
    {# <div id="panelManager"> #}
    {#     {% tabpanel "Home" %} #}
    {#         {% tab "Data Layers" %} #}
    {#             {% block data_layers_before_tree %}{% endblock %} #}
    {#             <div style="font-size:1em;" id="datalayerstree"></div> #}
    {#             {% block data_layers_after_tree %}{% endblock %} #}
    {#             {% footer %} #}
    {#                 <h3>Earth Options</h3> #}
    {#                 <ul> #}
    {#                     <form id="ge_options"> #}
    {#                         <li><input type="checkbox" name="setStatusBarVisibility" checked />Status Bar</li> #}
    {#                         <li><input type="checkbox" name="nav" />Navigation Control</li> #}
    {#                         <li><input type="checkbox" name="setGridVisibility" />Grid</li> #}
    {#                         <li><input type="checkbox" name="setOverviewMapVisibility" />Overview Map</li> #}
    {#                         <li><input type="checkbox" name="setScaleLegendVisibility" />Scale Legend</li> #}
    {#                         <li><input type="checkbox" name="setAtmosphereVisibility" checked />Atmosphere</li> #}
    {#                         <li><input type="checkbox" name="sun" />Sun</li>       #}
    {#                     </form> #}
    {#                 </ul> #}
    {#                 <h3>Google Layers</h3> #}
    {#                 <ul> #}
    {#                     <form id="ge_layers"> #}
    {#                         <li><input type="checkbox" name="LAYER_BORDERS">Borders</li> #}
    {#                         <li><input type="checkbox" name="LAYER_ROADS">Roads</li> #}
    {#                         <li><input type="checkbox" name="LAYER_TERRAIN" checked>Terrain</li> #}
    {#                         <li><input type="checkbox" name="LAYER_BUILDINGS" checked>3d Buildings</li> #}
    {#                         <li><input type="checkbox" name="LAYER_BUILDINGS_LOW_RESOLUTION" checked>Low Resolution Buildings</li>                                 #}
    {#                     </form> #}
    {#                 </ul> #}
    {#                 {% block data_layers_footer_append %}{% endblock %} #}
    {#             {% endfooter %} #}
    {#         {% endtab %} #}
    {#         {% tab "My Shapes" %} #}
    {#             {% block my_shapes_prepend %}{% endblock %} #}
    {#             <p> #}
    {#                 <div style="font-size:1em;" id="myshapestree"></div> #}
    {#                 <!-- <img style="margin:0px;padding:0px;" src="{{MEDIA_URL}}common/fixtures/widget_mockups/arrays.png" width="355" height="444" />--> #}
    {#                 <a href="javascript:alert('create mpa');">create mpa</a> | #}
    {#                 <a href="javascript:alert('create array');">create array</a> #}
    {#             </p>                     #}
    {#             {% block my_shapes_append %}{% endblock %} #}
    {#         {% endtab %} #}
    {#         {% tab "Collaborate" %} #}
    {#             <div id="waveframe" style="height:98%;overflow:hidden;margin:3px;"></div> #}
    {#         {% endtab %} #}
    {#         {% tab "Tools" %} #}
    {#                 {% block tools_prepend %}{% endblock %} #}
    {#                 <!-- #}
    {#                 <div style="padding:1em;"> #}
    {#                     <h4>MPA Draw Tool</h4> #}
    {#                     <button id="mpa_draw">draw mpa</button> #}
    {#                     <button id="mpa_clear">clear</button> #}
    {#                     <p><span id="mpa_draw_results"></span></p> #}
    {#                     <hr> #}
    {#                 </div> #}
    {#                 --> #}
    {#                 <div style="padding:1em;"><h4>MPA Draw Tool</h4></div> #}
    {#                 <div id="mpa_draw_panel" style="padding:1em;"></div> #}
    {#                 <div id="mpa_results_panel" style="padding:1em; overflow: auto"></div> #}
    {#                 {% block tools_append %}{% endblock %}    #}
    {#         {% endtab %} #}
    {#     {% endtabpanel %}         #}
    {# </div> #}
    <div id="geopanel">
        {% block shapeDefinitionPanel %}
        {#  This text is defined within a block here so that individual #}
        {#  projects can extend this block to modify the text #}
        <div class="panel">
            <div class="new">
                {% block shapeDefinitionPanelNewShape %}
                <p>
                    To begin defining a shape, press the button below and 
                    click on the map where you would like to place a vertex. 
                    When finished, double click the last vertex of your shape.
                </p>                    
                {% endblock shapeDefinitionPanelNewShape %}
                <a href="#" class="draw_shape button" onclick="this.blur(); return false;"><span><img src="{{MEDIA_URL}}common/images/silk/pencil.png">Draw Shape</span></a>                
            </div>
            <div class="edit" style="display:none;">
                {% block shapeDefinitionPanelEditShape %}
                <p>
                    To edit this shape, press the button below and drag its 
                    handles.
                </p>                    
                {% endblock shapeDefinitionPanelEditShape %}
                <a href="#" class="edit_shape button" onclick="this.blur(); return false;"><span><img src="{{MEDIA_URL}}common/images/silk/shape_handles.png">Edit Shape</span></a>                
            </div>
            <div class="manipulated" style="display:none;">
                {% block shapeDefinitionPanelBeforeManipulatorContent %}                    
                {% endblock shapeDefinitionPanelBeforeManipulatorContent %}
                <p>
                    CONTENT FROM SERVER
                </p>
                {% block shapeDefinitionPanelAfterManipulatorContent %}                    
                {% endblock shapeDefinitionPanelAfterManipulatorContent %}
                <a href="#" class="edit_shape button" onclick="this.blur(); return false;"><span><img src="{{MEDIA_URL}}common/images/silk/shape_handles.png">Edit Shape</span></a>                
            </div>
            {#  The following section is for debugging purposes only !! #}
            <p style="clear:both; margin-top:150px;">
                <a href="#" onclick="$(this).parent().parent().find('div').hide(); $(this).parent().parent().find('.new').show(); return false;">show new state</a>
                <a href="#" onclick="$(this).parent().parent().find('div').hide(); $(this).parent().parent().find('.edit').show(); return false;">show edit state</a>
                <a href="#" onclick="$(this).parent().parent().find('div').hide(); $(this).parent().parent().find('.manipulated').show(); return false;">show manipulated state</a>                
            </p>
        </div>
        {% endblock shapeDefinitionPanel %}
    </div>
{% endblock %}


