{% if not is_ajax and not request.is_ajax %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}title not set. use block title.{% endblock %}</title>
    {% block head %}{% endblock %}
    <script type="text/javascript" charset="utf-8">
        window.parent.postMessage('hi fucker');
        if(typeof lingcod === 'undefined'){
            window.lingcod = {
                setupForm: function(){},
                onShow: function(){},
                onHide: function(){},
                onUnhide: function(){},
                beforeDestroy: function(){}
            }
        }
    </script>
  </head>
  <body>    
{% endif %}
    <div class="panel">
      {% block panel %}
        <h1>Example Panel</h1>
        <p>
          Override block "panel" to replace this content.
        </p>
      {% endblock %}      
    </div>
{% if not is_ajax and not request.is_ajax %}
  </body>
</html>    
{% endif %}
