{% extends "common/base.html" %}

{% block head %}
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://geojs.googlecode.com/files/geo-0.1.2.pack.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://earth-api-utility-library.googlecode.com/svn/trunk/extensions/dist/extensions.pack.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="{{MEDIA_URL}}common/js/lib/qunit/qunit.css" type="text/css" media="screen">
	<script type="text/javascript" src="{{MEDIA_URL}}common/js/lib/qunit/qunit.js"></script>
    {% load compressed mpa_uid array_uid %}
    {% compressed_js 'tests' %}
    <script type="text/javascript" charset="utf-8">
        google.load("earth", "1");
		
		var DEFAULT_USERNAME = 'integration_tester';
        var DEFAULT_PASSWORD = 'password';
		//'{% mpa_uid %}',
	    {% block array_test_script %}

		lingcod.rest.testInterface('arrays and mpas', '{% url kmlapp-user-kml input_username='integration_tester',session_key='0' %}', {
		    '{% array_uid %}': {
		        form_values: {
		            name: 'My Array Name'
		        },
		        invalid_form_values: {
		            name: ''
		        }
		    },
		    '{% mpa_uid %}': {
		        form_values: {
		            name: 'My MPA Name'
		        },
		        invalid_form_values: {
		            name: ''
		        }
		    }
		});
		
	    {% endblock array_test_script %}
		
		{% block test_script %}{% endblock test_script %}

    </script>
    <style type="text/css" media="screen">
        body,html {
            overflow:auto;
        }
        #map3d {
            width:500px;
            height:4.5em;
            position:absolute;
            left:-1000px;
            top:0em;
        }
        
    </style>
{% endblock %}
{% block body %}
	<h1 id="qunit-header">MarineMap Client Test Suite</h1>
	<h2 id="qunit-banner"></h2>
	<div id="qunit-testrunner-toolbar"></div>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
    <div id="main"></div>
    <!-- Any HTML you may require for your tests to work properly -->
    <div id="map3d"></div>
    <div id="testpanel"></div>
{% endblock %}