{% extends "common/base.html" %}

{% block head %}
    <link rel="stylesheet" href="http://jqueryjs.googlecode.com/svn/trunk/qunit/testsuite.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://geojs.googlecode.com/files/geo-0.1.2.pack.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://earth-api-utility-library.googlecode.com/svn/trunk/extensions/dist/extensions.pack.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{MEDIA_URL}}common/js/lib/qunit/testrunner.js" type="text/javascript" charset="utf-8"></script>
    {% load compressed %}
    {% compressed_js 'tests' %}
    <script type="text/javascript" charset="utf-8">
        stop();
        google.load("earth", "1");
        var ge;
        var gex;
        var bothReady = false;

        $(document).ready(function(){
            google.earth.createInstance("map3d", initCallback, failureCallback);
        });
                
        function initCallback(pluginInstance){
            // console.log('document ready');
            ge = pluginInstance;
            gex = new GEarthExtensions(ge);
            window.runTest();
        }
        
        function failureCallback(){
            alert('failed to load google earth plugin.');
        }
        
        if ( typeof fireunit === "object" ) {
            QUnit.log = fireunit.ok;
            QUnit.done = fireunit.testDone;
        }
    </script>
{% endblock %}
{% block content %}
    <h1>MarineMap Client Unit Tests</h1>
    <h2 id="banner"></h2>
    <h2 id="userAgent"></h2>
    <ol id="tests"></ol>
    <div id="main"></div>
    <!-- Any HTML you may require for your tests to work properly -->
    <div id="map3d" style="width:800px;height:450px;"></div>
{% endblock %}