<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

<style type="text/css">
    #sortable { list-style-type: none; width: 200px;}
    #sortable li { margin: 0 2px 2px 3px; border: 1px solid #ddd; padding: 0.2em; padding-left: 0.5em; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
</style>


<p>Order the MPAs by clipping precedence (In case of overlap, MPA with the higher position retains its original shape, lower position gets clipped)</p>

<form id="clip_form" action="{{post_to}}" method="POST">
    <ul id="sortable">
{% for mpa in mpas %}
        <li id="mpaid_{{mpa.pk}}">{{mpa.pk}} :: {{mpa.name}}</li>
{% endfor %}
    </ul>
    <input type="submit" value="Begin Clipping Process" id="clip_submit">
</form>

<script type="text/javascript">
    $(function() {
        $("#sortable").sortable({opacity:0.6, cursor:'move'});
        $("#sortable").disableSelection();
    });
    $('#clip_form').bind('submit', function(event) {
        event.preventDefault();
        var mpa_order = $('#sortable').sortable('serialize'); 
        $.post("{{post_to}}", mpa_order); 
    });
</script>
