/*div.panel form table {
    width:100%;
    padding:0;
    margin:0;
}


div.panel form table th {
    width:140px;
    padding:0px;
}

div.panel form table th.add {
    width:16px;
    padding:0px;
}

div.panel th, div.panel td {
    font-size:12px;
    font-weight:normal;
}
div.panel tr.headers th {
    font-weight:bold;
    color:#344E63;
    text-shadow:0 1px 0 #FCFAFF;
}

div.panel tr.headers {
    border-bottom:thin solid #aaa;
}

div.panel tbody td {
    text-align:center;
    color:#333;
}
*/
p.designation_allowed_uses_note {
    margin-top:5px !important;
    font-style:italic;
}

tr.none, tr.chosen {
    text-align:center !important;
    color:#5E5C64;
}

tr.none {
    font-style:italic;
}