table.hab_repr_container {
    font-size: small;
    width: 455px;
    background: #ffffff;
    padding: 0px;
    border-spacing: 0px;
    border-width: 0px;
    border-color: lightgray;
    margin-left: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
table.hab_repr_container td, th {
    text-align: center;
    border-width: 0px;
    border-style: solid;
    border-color: gray;
    padding: 2px;
}
table.hab_repr_container td.hab_result:hover {
    padding: 0;
}
table.hab_repr_container td.habitat_name {
    padding-left: 1em;
    text-align: left;
}
table.hab_repr_container th {
    text-align: center;
    font-weight: bold;
    background: #FAFAFA url(http://closure-library.googlecode.com/svn/trunk/closure/goog/demos/css/../images/toolbar-bg.png) repeat-x scroll left bottom;
}
table.hab_repr_container tr.grey {
    background: #ececec;
}
td.mpa_hab_result > span.rounded {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}
td.mpa_hab_result > span.unrounded {
    display: none;
}
td.mpa_hab_result:hover > span.rounded {
    display: none;
}
td.mpa_hab_result:hover {
    padding: 0;
}
td.mpa_hab_result:hover > span.unrounded {
    display: block;
    padding: 0px;
}