<!DOCTYPE html>
{% load appname %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% appname %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
</head>
<body>

    <h1> Welcome to {% appname %}</h1>
    <p>This launch page can be overridden by creating a template named <pre>common/launch.html</pre> </p>
    <p>You can use this page to introduce the tool, provide background information, etc.</p>
    <hr/>
    <a href="/map/">Launch {% appname %}</a>

</body>
</html>
