html, body {
    width: 100%;
    height: 100%;
    margin:0 0 0 0;
    padding:0 0;
/*    background-color:#E1E9EA;*/
    background-color:#D9E1E2;
    overflow: hidden;
}

a img {
    border:none;
}

a:active {
  outline: none;
}

a {
    outline:none;
}

li {
    list-style:none;
}

#layout {
    border:none;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border-collapse:collapse;
}

#meta-navigation {
    padding:0;
    margin:0;
    position:absolute;
    top:0;
    left:0;
    font-size:12px;
    width:100%;
    height:40px;
/*    background-color:#3F4C5B;*/
/*    background: -webkit-gradient(linear, left top, left bottom, from(#324555), to(#262f3d));*/
    background: url(../images/header_bg.gif) repeat-x;
/*    background: -webkit-gradient(linear, left top, left bottom, from(#4a648b), to(#4a648b));*/
}

#meta-navigation ul {
    float:right;
    padding:10px 10px;
    margin:0;
/*    padding:0;*/
}

#meta-navigation ul li{
    vertical-align:middle;
    list-style:none;
    display:inline;
    padding:0;
    margin:0;
}

#meta-navigation a {
    color:white;
}

#map_container {
    border-left:solid 3px #5A7798;
/*    font-size:.8em;*/
    position:absolute;
    left:500px;
    top:40px;
    width:10%;
    background-color:black;
    margin:0;
    padding:0;
/*    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);*/
}

#map {
    width:100%;
    height:100%;
}

#sidebar {
    background-color:#f4f8fb;
    width:500px;
    overflow:auto;
/*    position:absolute;*/
    margin-top:40px;
    padding:0;
    overflow-x:hidden;
    font-size:12px;
}

#sidebar > div {
    padding:10px;
}

.marinemap-panel {
    position:absolute;
    left:0px;
    top:14px;
    height:95%;
    width:499px;
    overflow-y:auto;
    z-index:10;
    background-color:#f4f8fb;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);   
}

.marinemap-panel-noscroll {
    overflow-y:hidden;
    max-height:95%;
    height:auto;
}

.marinemap-panel .content {
    padding: 0 12px;
}

.marinemap-panel .close {
    float:right;
    margin:5px;
}

ul.errorlist li {
    background-color:#FF676A;
}

#sidebar-mask {
    margin:0;
    padding:0;
    opacity:.5;
    filter: alpha(opacity=50);
    position:absolute;
    top:40px;
    left:0;
    width:500px;
    height:100%;
    background-color:gray;
    display:none;
}

.masked #sidebar-mask {
    display:block;
}

#panel-holder {
    width:500px;
    height:100%;
    padding:0;
    position:absolute;
    top:40px;
    left:0px;
    z-index:5;
}

#tools form {
    margin: 10px;
}

#tools a.button {
    font-size:14px;
}

#flyToLocation input{
    font-size:16px; 
    width:250px;
    float:left; 
    margin-right:6px;
}

p {
    font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size:14px;
    color:#4C4C4C;
}

p.instructions {
    padding:10px 0;
    font-size:14px;
}

#tools p {
    padding: 10px 0;
    font-size:12px;
/*    font-family:sans-serif;*/
    color:#4C4C4C;
}

#measureAmount {
    font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    color:#4C4C4C;
    padding-top:10px;
    font-size:18px;
}

#measure_units {
    position:absolute;
    right:75px;
    font-size:14px;
}

#tools {
    margin-bottom:40px;
}

#measureAmountHolder {
    display:none;
    position:relative;
    width:100%;
    margin-top:-10px;
    height:20px;
}

#measurement_tools {
    margin-left:10px;
}

div.panel div, div.panel p {
    margin:16px 0px;
}

.form_controls {
    margin-top:10px;
    width:100%;
    position:relative;
    bottom:0px;
    background-color:none;
    padding:10px 0;
    width:100%;
    left:0;
    border-top:solid 1px #BAC0CC;
}

.form_controls .button {
    float:right;
    margin-right:10px;
}