html, body {
    width: 100%;
    height: 100%;
    margin:0 0 0 0;
    padding:0 0;
/*    background-color:#E1E9EA;*/
    background-color:#D9E1E2;
    overflow: hidden;
}

#layout {
    border:none;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border-collapse:collapse;
}

#layout tbody {
    width:100%;
    height:100%;
}

#layout td {
    vertical-align:top;
}

#meta-navigation {
    padding:0;
    margin:0;
    position:absolute;
    top:0;
    left:0;
    font-size:0.8em;
    width:100%;
    height:2.2em;
    background-color:#3F4C5B;
    background: -webkit-gradient(linear, left top, left bottom, from(#364755), to(#2F3944));
}

#meta-navigation ul {
    float:right;
    padding:0.5em 1em;
    margin:0;
/*    padding:0;*/
}

#meta-navigation ul li{
    list-style:none;
    display:inline;
    padding:0;
    margin:0;
}

#panelManager {
    position:absolute;
    font-size:.8em;
    top:2.2em;
    left:0;
    margin:0;
    padding:0;
    height:100%;
    width:400px;
}

#map_container {
    border-left:solid 3px #5A7798;
    font-size:.8em;
    position:absolute;
    left:400px;
    top:2.2em;
    width:10%;
    background-color:black;
    margin:0;
    padding:0;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#map {
    width:100%;
    height:100%;
}

.sidebar-panel {
    font-size:1.2em;
}