html, body {
    width: 100%;
    height: 100%;
    margin:0 0 0 0;
    padding:0 0;
/*    background-color:#E1E9EA;*/
    background-color:#D9E1E2;
    overflow: hidden;
}

#layout {
    border:none;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border-collapse:collapse;
}

#meta-navigation {
    padding:0;
    margin:0;
    position:absolute;
    top:0;
    left:0;
    font-size:0.8em;
    width:100%;
    height:3em;
    background-color:#3F4C5B;
    background: -webkit-gradient(linear, left top, left bottom, from(#364755), to(#2F3944));
}

#meta-navigation ul {
    float:right;
    padding:0.5em 1em;
    margin:0;
/*    padding:0;*/
}

#meta-navigation ul li{
    list-style:none;
    display:inline;
    padding:0;
    margin:0;
}

#meta-navigation a {
    color:white;
}

#map_container {
    border-left:solid 3px #5A7798;
    font-size:.8em;
    position:absolute;
    left:460px;
    top:3em;
    width:10%;
    background-color:black;
    margin:0;
    padding:0;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#map {
    width:100%;
    height:100%;
}

#sidebar {
    background-color:white;
    width:460px;
    overflow:auto;
/*    position:absolute;*/
    margin-top:3em;
    padding:0;
    overflow-x:hidden;
    font-size:0.8em;
}

.marinemap-panel {
    position:absolute;
    left:10px;
    top:10px;
    height:90%;
    width:450px;
    z-index:10;
    background-color:white;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    
}