.sidebar-panel {
    background-color:#FFF;
    background-color:#FFF;

    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.sidebar-panel a {
    color:blue;
}

.sidebar-panel a:visited {
    color:blue;
}

.sidebar-panel p {
    padding:0.5em;
    padding-top:0;
}

.sidebar-body {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    overflow-y:auto;
    font-size:0.9em;
}

.sidebar-footer {
    padding:1em;
    margin:0;
    background-color:#EDF5F7;
    }


.sidebar-header h1 {
    font-size:1.4em;
    margin:0;
    padding: 0 0.2em;
    background-color:#609CD7;
    color:#FFF;

}

#back-button {
    position:absolute;
    left:0.5em;
    top:0.2em;
}

#back-button a {
    text-decoration:none;
}

.tools {
    font-size:0.8em;
}

.tools h3 {
    font-size:1em;
    padding:0;
    margin:0;
}

.tools ul {
    list-style:none;
}

.printable {
    display:none;
}

.back_link {
    position:absolute;
    top:-2.7em;
    left:0;
    margin:0.5em;
    padding: 0.2em 0.5em;
    background-color:#48526E;
    border: 1px outset #000;
    font-size:0.8em;
    text-decoration:none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    color:white;
}

.back_link:active {
    border: 1px inset #EDEFF6;
}