/*----------------------   Tree Styles ------------------------------------*/

.marinemap-tree, .marinemap-tree ul {
    margin:0 0;
    padding: 0em 0;
    list-style:none;
}

.marinemap-tree {
    font-family:sans-serif;
    font-size:0.8em;
/*    width:%;*/
    text-indent:0.5em;
    padding-top:0.3em;
    padding-bottom:0.3em;
}


.marinemap-tree ul{
    text-indent:2em;
    margin-top:0.2em;
}

.marinemap-tree li ul {
    display:none;
}

.marinemap-tree li.open > ul {
    display:block;
}

.marinemap-tree li.marinemap-tree-category > ul {
    display:block;
}


.marinemap-tree-category > ul {
    margin-top:0.3em;
}

.marinemap-tree li a {
    font-family:sans-serif;
    font-size:1em;
    color:#313841;
}

.marinemap-tree li {
    width:100%;
    overflow:hidden;
    white-space:nowrap;
/*    position:relative;*/
/*    height:1.5em;*/
}

.marinemap-tree li.marinemap-tree-category > a {
    font-weight:bold;
    font-family:sans-serif;
    font-size:1em;
    color:#6C7C90;
    margin-bottom:0.3em;
    text-shadow: #FCFAFF 0px 1px 0px;
    -moz-text-shadow: #FCFAFF 0px 1px 0px;
}

/*.marinemap-tree li {
    text-indent: 0.5em;
}*/

.marinemap-tree ul li {
    margin:0em 0;
    padding:0.5em 0;
/*    position:relative;*/
/*    top:0px;*/
/*    left:0px;*/
}

.marinemap-tree ul li a {
    padding:0.5em 0;
}

.marinemap-tree li.selected {
    background-color:#2B81BB;
    color:white;
}

/*.marinemap-tree li.selected.contextified {
    background-color:#2B81BB;
    color:white;
}*/

.marinemap-tree li.selected > a{
    color:white;
    font-weight:bold;
    text-shadow: #003C53 0px 1px 0px;
    -moz-text-shadow: #003C53 0px 1px 0px;
}

.marinemap-tree li.selected > a:hover {
    text-decoration:none;
}

.marinemap-tree li.selected ul {
    background-color:#97B8D9;
}

.marinemap-tree-item input {
/*    position:relative;*/
    margin:0 0;
    padding:0 0;
    margin-right:2px;
    margin-left:-3px;
}

/*.marinemap-tree li li:hover{
    background-color:#DEE5ED;
}
*/
.marinemap-tree span.collapsible {
    cursor:pointer;
}

.marinemap-tree li li li {
    text-indent:3em;
}

.marinemap-tree li li li li {
    text-indent:4em;
}

.marinemap-tree li li li li li{
    text-indent:5em;
}

.marinemap-tree li li li li li li{
    text-indent:6em;
}

.marinemap-tree li li li li li li li{
    text-indent:7em;
}

.marinemap-tree li li li li li li li li{
    text-indent:8em;
}

.marinemap-tree li ul li ul{
    margin-top:0.5em;
}

.marinemap-tree span.collapsible {
/*    position:absolute;*/
/*    left:-15px;*/
    margin-left:-15px;
    margin-right:6px;
}

.marinemap-tree span.expanded {
    left:-16px;
    top:2px;
}

.marinemap-tree span.collapsible img {
    margin:0 0;
    padding: 0 0;
}

.marinemap-tree li img.icon {
    margin-bottom:-2px;
    margin-left:-2px;
    margin-right:2px;
}

.marinemap-tree p.no-items {
/*    margin:1em;*/
    padding:0.5em;
    padding-top:0;
/*    padding-top:0.2em;*/
    margin:0 0;
    font-style: italic;
    color:#6D7273;
}

.marinemap-tree-category {
    margin-bottom:1em;
}

.marinemap-tree {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/*.marinemap-tree-item a {
    -moz-user-select: text;
    -khtml-user-select: text;
    user-select: text;
}*/

.marinemap-tree-item.unselectable > a{
    cursor: default;
    text-decoration:none;
}

.marinemap-tree-item.context > a{
    cursor:pointer;
}

.marinemap-tree-item.select > a:hover {
    text-decoration:underline;
}

.marinemap-tree-item a {
    outline:none;
    -moz-outline-style:none;
    cursor:pointer;
    text-decoration:none;
}

.marinemap-tree span.badges {
    margin-left:1em;
}

.marinemap-tree span.badges img {
    margin-bottom:-3px;
}

.marinemap-tree a.sharedmsg {
    text-decoration:none;
    
}

.marinemap-tree a.sharedmsg img{
    text-decoration:none;
    border:none;
    
}
.marinemap-tree a.sharedmsg:hover {
    cursor: help;
}

.marinemap-tree-item p.description {
    text-indent: 0px;
    width:80%;
    margin:0 0;
    margin-top:0.5em;
    margin-left:2em;
    color:#6C7C90;
    white-space: normal;
}
