upstream app_server {
    server localhost:8001 fail_timeout=0;
}

server {
    server_name  {{domain}};
    access_log  {{root}}/logs/access.log;
    error_log  {{root}}/logs/error.log debug;
    keepalive_timeout 5;
    client_max_body_size 20M;
    root /var/www/;

    location /media/admin {
       alias {{root}}/env/src/django/django/contrib/admin/media/;
    }

    location /media {
       alias {{root}}/mediaroot/; 
    }
    
    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_read_timeout 1200;
        proxy_connect_timeout 1200;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://app_server;
            break;
        }
    }
}

