
<!-- User :: {{ user.name }} -->

{% if groups %}

    <div> 
        Share <em>{{ obj_type_verbose }}</em> named <strong>{{ obj }}</strong> with the following groups. 
    </div>

    <form action="" method="POST">
    <select id="id_groups" name="sharing_groups" multiple="multiple">
    {% for group in groups %} 
    <p>
        <option {% if group in already_shared_groups %}selected="selected"{% endif %} value="{{group.id}}">{{group.name}}</option>
    </p>
    {% endfor %}
    </select>
    </form>

{% else %}
    <div> 
        Can't share <em>{{ obj_type_verbose }}</em> named <strong>{{ obj }}</strong> .. you don't belong to any groups with appropriate permissions to share that object. 
    </div>
{% endif %}
