<div>
    <h3>An online tool for Forest Management Scenario Planning</h3>


    <p><img src="/media/common/images/svs.png" alt="Stand Visualization example" style="width:200px; float:right;margin:0 5px 0 0;" />Ecotrust is developing online software that will give all Oregon and Washington land managers forest managment scenario planning capacity. They will be able to visualize alternative management scenarios on their lands and receive immediate feedback on how thier decisions might pay off in terms of timber harvests and financial returns, as well as public benefits like carbon storage and ecosystem services. </p>

    <h3>Using the Scenario Planning Tool</h3>

    <ul>
        <li>Identify their properties on an interactive map </li>
        <li>Use preloaded Forest Inventory Analysis data (FIA) or upload their own cruise data.</li>
        <li>Designate forest management areas or stands</li>
        <li>Define management prescriptions</li>
        <li>Specify timber and carbon market prices</li>
    </ul>
    
    <h3>Scenario Planning Tool Outputs:</h3>
    <ul>
        <li>Graphs of timber volume and financial returns generated over time</li>
        <li>Optimized harvest schedule</li>
        <li>Maps of standing timber volume, species and age class over time</li>
        <li>Visualize potential to realize carbon credits and ecostytem-based incentives over time</li>
    </ul>
    
    <h3>Additional Features</h3>
    <ul>
        <li>Secure and confidentially store and manage data and scenario runs</li>
        <li>Share scenarios between collaborators to explore collaborative decision making among forest landowners and managers</li>
    </ul>
</div>
