<!--if we would rather extend from common/base.html than be sure and add the following lines:
    <file path="mpa/js/manipulators.js" />
    <file path="mpa/js/mpa_creator.js" />
    <file path="common/js/jquery/jquery-callback-1.2.js" />
    to media/js_includes.xml, so that load compressed in base.html will find those files (after a dev-server reload)
    -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<!-- This page serves as a standalone example of the manipulators for testing purposes -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MarineMap Decision Support Tool</title>    
    <script type="text/javascript" src="http://www.google.com/jsapi?key={{api_key}}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://geojs.googlecode.com/files/geo-0.1.2.pack.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://earth-api-utility-library.googlecode.com/svn/trunk/extensions/dist/extensions.pack.js" type="text/javascript" charset="utf-8"></script>
    <!--rather than load everything from js_includes.xml, we just load the following-->
    <script src="/media/common/js/lingcod.js"></script>
    <script src="/media/common/js/tools/draw_tool.js"></script>
    <script src="/media/mpa/js/manipulators.js"></script>
    <script src="/media/mpa/js/mpa_creator.js"></script>
    <script src="/media/common/js/jquery/jquery-callback-1.2.js"></script>

    <script type="text/javascript">
    google.load("earth", "1");
    
    var ge = null;
    var measureTool = null;

    var gex = null;
    var ge_lookAt = [33.5, -118];
    var ge_range = 400000;
    var ge_tile = 20;
    var ge_studyregion_display = 'http://' + document.location.host + '/studyregion/kml/';
    var manip_list = '';
    var manip_url = '/manipulators/list/simple_app/mpa/';
        
    $(document).ready(function() {
        $.ajaxSetup({ cache: false });
        $.getJSON( manip_url, init );
    });    
     
    /**
     * Called at load time.
     * Creates google earth instance and MpaCreator instance.
     * Starts mpa creation process.
     * @param {List} manipulators, list of manipulations to be performed on the target shape (returned from manip_url request)
     */
    function init(manipulators) {
        manip_list = manipulators;
        google.earth.createInstance("map3d", initCallback, failureCallback);
        panels = { button_panel: 'button_panel', results_panel: 'results_panel' };
        mpaCreator = new lingcod.MpaCreator(manip_list, panels);
        mpaCreator.startMpaCreation();
    }
        
    /**
     * Called from within init() upon success of google.earth.createInstance
     * Sets up the google earth areal view and adds the study region to the map.
     * @param {Google Earth Instance} pluginInstance, returned from google.earth.createInstance
     */
    function initCallback(pluginInstance) {
        ge = pluginInstance;
        ge.getWindow().setVisibility(true); // required
        
        gex = new GEarthExtensions(pluginInstance);
        gex.util.lookAt(ge_lookAt, { range: ge_range, tilt: ge_tile });    
        //gex.util.displayKml( ge_studyregion_display );
        
        {% if extra_kml %}
        gex.util.displayKmlString( '{{ extra_kml|safe }}' );
        {% endif %}
    }
    
    /**
     * Called upon google earth instance creation failure (from init())
     * @param {String} errorCode, error code returned from google.earth.createInstance
     */
    function failureCallback(errorCode) {
        alert("Failure loading the Google Earth Plugin: " + errorCode);
    }
        
    </script>
</head>
<body> 
    <p><strong>Simple Manipulator Test</strong></p>
    <!-- results_panel is used to display the templates returned from the manipulators -->
    <p><div id="results_panel" style="overflow: auto; width: 500px; height: 200px; border: 1px solid silver;"></div></p>
    <!-- button_panel is used to display buttons such as Create Mpa, Edit Mpa, and Finish Editing -->
    <p><div id="button_panel">  </div></p>
    <div id="map3d" style="overflow: auto; width: 500px; height: 500px; border: 1px solid silver;"></div>
</body>
</html>
