{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}
    <h1>{{instance.name}}</h1>
    <div class="tabs">
        <ul>
            <li><a href="#Attributes"><span>Information</span></a></li>
            <li><a href="{% url array_replication instance.pk, 'html' %}"><span>Habitat Replication</span></a></li>
        </ul>
        <div id="Attributes">
            <ul class="metadata">
                <li class="creator">Created By {{instance.user.username}}</li>
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
        </div>
        <h2>Description</h2>
        {% if instance.description %}
        <p>{{instance.description}}</p>
        {% else %}
        <p><em>None specified.</em></p>
        {% endif %}
		<h2>Summary of MPAs by Designation</h2>
		{% with instance.summary_by_designation as desig_dict %}
			{% include "array_summary_designation.html" %}
		{% endwith %}
		<h2>Summary of MPAs by Level of Protection</h2>
		{% with instance.summary_by_lop as lop_list %}
			{% include "array_summary_lop.html" %}
		{% endwith %}
    </div>
{% endblock panel %}