{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}
    <h1>{{instance.name}}</h1>
    <div class="tabs">
        <ul>
            <li><a href="#Attributes"><span>Information</span></a></li>
            <li><a href="{% url array_replication instance.pk,'html' %}"><span>Hab Replication</span></a></li>
			<li><a href="{% url array_spacing instance.pk, 'html' %}"><span>Hab Spacing</span></a></li>
            {% if perms.layers.view_ecotrustlayerlist %}
              <li><a href="#Groups"><span>Impact Analysis</span></a></li>
            {% endif %}
        </ul>
        <div id="Attributes">
            <ul class="metadata">
              {% if instance.user.first_name and instance.user.last_name %} 
                <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
              {% else %}
                <li class="creator">Created By {{instance.user.username}}</li>
              {% endif %}
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
            <h2>Description</h2>
            {% if instance.description %}
            <p>{{instance.description}}</p>
            {% else %}
            <p><em>None specified.</em></p>
            {% endif %}
            <p><strong>Array ID:</strong> {{instance.pk}}</p>
            <h2>Summary of MPAs by Designation</h2>
            {% with instance.summary_by_designation as desig_dict %}
            	{% include "array_summary_designation.html" %}
            {% endwith %}
            <h2>Summary of MPAs by Level of Protection</h2>
            {% with instance.summary_by_lop as lop_list %}
            	{% include "array_summary_lop.html" %}
            {% endwith %}

            {% if instance.supportfile1 or instance.supportfile2 %}
                <h2>Supporting Files</h2>
                <ul>
                    {% if instance.supportfile1 %} <li><p><a href="{% url array-download instance.pk,1 %}">{{instance.supportfile1_shortname}}</a></p></li> {% endif %}
                    {% if instance.supportfile2 %} <li><p><a href="{% url array-download instance.pk,2 %}">{{instance.supportfile2_shortname}}</a></p></li> {% endif %}
                </ul>
            {% endif %}
		</div>
        
        <div id="Groups" class="tabs">
            <ul>
                <li><a href="#Instructions"><span>Instructions</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'com' %}"><span>Commercial</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'cpfv' %}"><span>Commercial Private Fishing Vessel</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'div' %}"><span>Recreational Dive</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'kyk' %}"><span>Recreational Kayak</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'pvt' %}"><span>Recreational Vessel</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'swd' %}"><span>Edible Seaweed (Commercial)</span></a></li>
            </ul>
            <div id="Instructions">
                <h3>Impact Analysis Instructions</h3>
                <p>This page contains information on potential fishery-specific impacts for a given Array proposal. Here you will find the summaries of the affected fishing grounds for this array compiled into a single table. </p>
                <p>The data are arranged by port and fishery. Starting in the north the ports are in the following order: Crescent City, Trinidad, Eureka - Arcata, Shelter Cove, Fort Brag, and Albion. </p>
                <p>The table output is organized into two columns; ...<fill in description here>... </p>
                <p>Also you may notice some of the values are listed as "---" instead of a number value. This is an indicator of whether the fishery is reported on in the summary. </p>
                <p>A "---" means that the fishery either does not exist in that port, or insufficient data was collected in that port for that fishery, or that fewer than four fishermen were interviewed/participate in that fishery and to maintain confidentiality we are not reporting on that fishery.</p>
                <p>PLEASE BE AWARE: Selecting a group for anlaysis may require 20-30 minutes to execute.  Selecting other buttons within this panel while a group is loading will cause unpredictable behavior within this panel.  If this is done accidentally, simply close out of this MPA results panel, and then reselect your MPA. </p>
            </div>
        </div>
        
    </div>
{% endblock panel %}
