{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}
    <h1>{{instance.name}}</h1>
    <div class="tabs">
        <ul>
            <li><a href="#Attributes"><span>Information</span></a></li>
            <li><a href="{% url array_replication instance.pk,'html' %}"><span>Replication</span></a></li>
			<li><a href="{% url array_spacing instance.pk, 'html' %}"><span>Spacing</span></a></li>
            <li><a href="#Groups"><span>Impact</span></a></li>
        </ul>
        <div id="Attributes">
            <ul class="metadata">
              {% if instance.user.first_name and instance.user.last_name %} 
                <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
              {% else %}
                <li class="creator">Created By {{instance.user.username}}</li>
              {% endif %}
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
            <h2>Description</h2>
            {% if instance.description %}
            <p>{{instance.description}}</p>
            {% else %}
            <p><em>None specified.</em></p>
            {% endif %}
            <p><strong>Array ID:</strong> {{instance.pk}}</p>
            <h2>Summary of MPAs by Designation</h2>
            {% with instance.summary_by_designation as desig_dict %}
            	{% include "array_summary_designation.html" %}
            {% endwith %}
            <h2>Summary of MPAs by Level of Protection</h2>
            {% with instance.summary_by_lop as lop_list %}
            	{% include "array_summary_lop.html" %}
            {% endwith %}

            {% if instance.supportfile1 or instance.supportfile2 %}
                <h2>Supporting Files</h2>
                <ul>
                    {% if instance.supportfile1 %} <li><p><a href="{% url array-download instance.pk,1 %}">{{instance.supportfile1_shortname}}</a></p></li> {% endif %}
                    {% if instance.supportfile2 %} <li><p><a href="{% url array-download instance.pk,2 %}">{{instance.supportfile2_shortname}}</a></p></li> {% endif %}
                </ul>
            {% endif %}
		</div>
		
        {% if perms.layers.view_ecotrustlayerlist %}
        <div id="Groups" class="tabs">
            <ul>
                <li><a href="#Instructions"><span>Instructions</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'com' %}"><span>Commercial</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'cpfv' %}"><span>Commercial Private Fishing Vessel</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'div' %}"><span>Recreational Dive</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'kyk' %}"><span>Recreational Kayak</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'pvt' %}"><span>Recreational Vessel</span></a></li>
                <li><a href="{% url array_impact_analysis instance.pk 'swd' %}"><span>Edible Seaweed (Commercial)</span></a></li>
            </ul>
            <div id="Instructions">
                <h3>Impact Analysis Instructions</h3>
                <p>This page contains information on potential fishery-specific impacts for a given proposal. Potential Impacts are presented as an array level summary across the entire North Coast Study Region.  </p>
                <p>Potential impacts are summarized by port and by fishery. From north to south, the reports are: Crescent City, Trinidad, Eureka - Arcata, Shelter Cove, Fort Brag, and Albion. </p>
                <p>Table output is organized into two columns; For commercial fisheries, potential impacts on gross economic revenue (GER) and net economic revenue (NER) are reported as dollar values and percentages.  For commercial passenger fishing vessel fisheries, potential impacts on GER and NER are reported as percentages.  For all recreational fisheries (Dive, Kayak, and Private Vessel), potential impacts on total value are reported. </p>
                <p>A "---" (instead of a number value) means that potential impacts are not available for this fishery.  This occurs when 1) the fishery does not exist in the port, 2) insufficient data was collected in that port for that fishery, or 3) fewer than four fishermen were interviewed/participate in that fishery and to maintain confidentiality we are not reporting on that fishery.</p>
                <p>PLEASE BE AWARE: Selecting a group for analysis may require 20-30 minutes to execute.  Selecting other buttons within this panel while a group is loading will cause unpredictable behavior within this panel.  If this is done accidentally, simply close out of the results panel, and then reselect your proposal. </p>
            </div>
        </div>
        {% endif %}
        
    </div>
{% endblock panel %}
