WSGIScriptAlias /simple/ /path/to/src/marinemap/example_projects/simple/simple_wsgi.py
WSGIDaemonProcess simple_marinemap user=username group=usergroup processes=10 threads=1
WSGIProcessGroup simple_marinemap

Alias /simple/media/ /path/to/media/
<Directory /path/to/media>
Order allow,deny
Options Indexes
Allow from all
IndexOptions FancyIndexing
</Directory>

