{% extends "common/panel.html" %}
{% block title %}{{title}}{% endblock %}

{% block panel %}
  <h1>{{title}}</h1>
  {% if form.is_multipart %}
  <form enctype="multipart/form-data" action="{{action}}" method="post">
  <input type='hidden' name='MAX_FILE_SIZE' value="10485760" /> <!-- 10 MB upload limit -->
  {% else %}
  <form action="{{action}}" method="post"> 
  {% endif %}
    {% if json %}
        <div style="display:none;" class="json">{{json}}</div>
    {% endif %}
  {% for field in form.visible_fields %}
    <div class="field{% if field.field.required %} required{% endif %}">
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
            <div style="display:none;">
                {{ hidden.errors }}
            </div>
            {{ hidden }}
            {% endfor %}
        {% endif %}
        
        {{ field.label_tag }}
        {{ field.errors }}
        {% if field.help_text %}
        <p class="help_text">
            {{ field.help_text }}            
        </p>            
        {% endif %}
        {{ field }}            
    </div>
  {% endfor %}
    <p><input type="submit" value="submit"></p>
  </form>
{% endblock %}
