{% extends "common/base.html" %}

{% block body %}
    <h1>Frequently Asked Questions</h1>
    <br/>
    <div style='width:600px; border: 1px dotted #BBBBBB; padding: 5px'>
    {% for group in faqs_by_group %}
    <h3><a href='#group_{{ group.group_obj.id }}'>{{ group.group_obj.faq_group_name }}</a></h3>
        <ul>
        {% for faq in group.group_faqs %}
            <li><a href='#faq_{{ faq.id }}'>{{ faq.question }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
    </div>
    <br/>
    <div style='width: 600px;'>
    {% for group in faqs_by_group %}
    <h3><a name='group_{{ group.group_obj.id }}'>{{ group.group_obj.faq_group_name }}</a></h3>
        <div style='padding-left: 25px'>
        {% for faq in group.group_faqs %}
            <h4><a name='faq_{{ faq.id }}'>Q. {{ faq.question }}</a></h4>
            <p>A. {{ faq.answer|safe }} </p>
        {% endfor %}
        </div>
    {% endfor %}
    </div>    
{% endblock %}
 