{% extends 'common/panel.html' %}
{% block title %}{{instance.name}} Impact Analysis{% endblock title %}
{% block panel %}
<div class="tabs">
    <ul>
        <li><a href="{% url mpa_impact_analysis mpa_id 'Instructions' %}"><span>Instructions</span></a></li>
        <li><a href="{% url mpa_impact_analysis mpa_id 'com' %}"><span>Commercial</span></a></li>
        <li><a href="{% url mpa_impact_analysis mpa_id 'cpfv' %}"><span>Commercial Private Fishing Vessel</span></a></li>
        <li><a href="{% url mpa_impact_analysis mpa_id 'div' %}"><span>Recreational Dive</span></a></li>
        <li><a href="{% url mpa_impact_analysis mpa_id 'kyk' %}"><span>Recreational Kayak</span></a></li>
        <li><a href="{% url mpa_impact_analysis mpa_id 'pvt' %}"><span>Recreational Vessel</span></a></li>
        <li><a href="{% url mpa_impact_analysis mpa_id 'swd' %}"><span>Edible Seaweed (Commercial)</span></a></li>
    </ul>
</div>
        
{% endblock panel %}