{% extends 'common/panel.html' %}
{% block title %}{{mpa.name}} Impact Analysis{% endblock title %}
{% block panel %}
<h3>Impact Analysis {{all_results.0.0.user_grp}} Report</h3>
<div class='freetext'>
<br>
<table  style='width:450px' class='hab_repr_container'>
    <thead>
        <tr>
            <th></th>
            <th><b>Percent of Total Value</b> affected by MPA</th>
            <th></th>
            <th><b>Percent of Total Area</b> affected by MPA</th>
        </tr>
    </thead>
    <tbody>
    {% for results in all_results %}
        <tr><td></td><td></td><td></td><td></td></tr>
        <tr>
            <td style="width: 165px;" class="habitat_name"><b>{{ results.0.port }}</b></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr><td></td><td></td><td></td><td></td></tr>
        {% for result in results %}
        <tr class="{% cycle '' 'grey' %}">
            <td class="habitat_name">{{ result.species }}</td>
            {% if result.mpaPercOverallValue == '---' %}
                <td>{{ result.mpaPercOverallValue }}</td>
            {% else %}
                <td>{{ result.mpaPercOverallValue }}&nbsp;<small>%</small></td>
            {% endif %}
                <td></td>
            {% if result.mpaPercOverallArea == '---' %}
                <td>{{ result.mpaPercOverallArea }}</td>
            {% else %}
            <td>{{ result.mpaPercOverallArea }}&nbsp;<small>%</small></td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr><td></td><td></td><td></td><td></td></tr>
    {% endfor %}
    </tbody>
</table>

</div>
<br>
<div style='font-size: small'><a target='_blank' href='{% url printable_analysis mpa.id all_results.0.0.user_grp %}'>View Printable Report</a></div>
<br>
{% endblock panel %}
