{% load currency %}
<h1>{{ user_group }} Potential Impact Analysis Report</h1>

<div class="freetext">
<h4>Report Summary</h4>
<table class='allowed_uses'>
<tr><td width=100>User Group:</td><td>{{ user_group }}</td></tr>
<tr><td width=100>Array:</td><td>{{ array.name }}</td></tr>
<tr><td width=100>Array ID:</td><td>{{ array.id }}</td></tr>
</table>
</div>

<div class='freetext'>
<br>

<table class='marinemap-table' rules=rows>
    <thead>
        <tr>
            <th></th>
            <th></ align=center style="width: 200px;"><b>Percentage Impact of Total Value</b> </th>
        </tr>
    </thead>
    <tbody>
    {% for results in array_results %}
        <tr><td></td><td></td><td></td><td></td></tr>
        <tr>
            {% if results.0.port == 'Fort Bragg' %}
                <td style="width: 165px;"><b>Fort Bragg / Albion</b></td>
            {% else %}
                <td style="width: 165px;"><b>{{ results.0.port }}</b></td>
            {% endif %}
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result.species }}</td>
                {% if result.percGEI == '---' %}
                    <td align="center">---</td>
                {% else %}
                    <td align="center">{{ result.percGEI|floatformat:'-1' }}&nbsp;<small>%</small></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

</div>

<style type="text/css">
table.marinemap-table {
    font-size:12px;
    width:100%;
    border:solid 1px #ccc;
    margin:5px;
}

table.marinemap-table th {
    color:#344E63;
    font-weight:bold;
    text-shadow:0 1px 0 #FCFAFF;
}

table.marinemap-table thead tr {
    background:#FAFAFA url(../images/toolbar-bg.png) repeat-x scroll left bottom;
    text-align:center;
}

table.marinemap-table tbody {
    background-color:white;
}

table.marinemap-table tr.zebra {
    background-color:#eee;
}

</style>


