{% load currency %}
<h1>Commercial Passenger Fishing Vessel Potential Impact Analysis Report</h1>

<div class="freetext">
<h4>Report Summary</h4>
<table class='allowed_uses'>
<tr><td width=100>User Group:</td><td>{{ user_group }}</td></tr>
<tr><td width=100>Array:</td><td>{{ array.name }}</td></tr>
<tr><td width=100>Array ID:</td><td>{{ array.id }}</td></tr>
</table>
</div>

<div class='freetext'>
<br>

    <table class='marinemap-table' rules=rows>
        <thead>
            <tr>
                <th></th>
                <th></ align=center style="width: 200px;"><b>Potential Gross Economic Impact</b> </th>
                <th></ style="width: 40px;"></th>
                <th></ align=center style="width: 200px;"><b>Potential Net Economic Impact</b> </th>
            </tr>
        </thead>
        <tbody>
        {% for result in array_results %}
            <tr><td></td><td></td><td></td><td></td></tr>
            <tr>
                <td style="width: 165px;">{{ result.port }}</td>
                {% if result.percGEI == '---' %}
                    <td align="center">---</td>
                {% else %}
                    <td align="center">{{ result.percGEI|floatformat:'1' }}&nbsp;<small>%</small></td>
                {% endif %}
                <td></td>
                {% if result.percNEI == '---' %}
                    <td align="center">---</td>
                {% else %}
                    <td align="center">{{ result.percNEI|floatformat:'1' }}&nbsp;<small>%</small></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<style type="text/css">
table.marinemap-table {
    font-size:12px;
    width:100%;
    border:solid 1px #ccc;
    margin:5px;
}

table.marinemap-table th {
    color:#344E63;
    font-weight:bold;
    text-shadow:0 1px 0 #FCFAFF;
}

table.marinemap-table thead tr {
    background:#FAFAFA url(../images/toolbar-bg.png) repeat-x scroll left bottom;
    text-align:center;
}

table.marinemap-table tbody {
    background-color:white;
}

table.marinemap-table tr.zebra {
    background-color:#eee;
}

</style>


