{% extends "common/panel.html" %}
{% block title %}
<p> Password Reset </p>
{% endblock %}

{% block panel %}
<div>
<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

<form id="resetform" action="{% url auth_password_reset %}" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
</form>
</div>
{% endblock %}
